@import "../../../shared/assets/CSS/colors.css";

.MainNavigation {
	width: 95%;
	height: 100%;
	/* max-width: 1320px; */
	/* height: 100%; */
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-items: center;
	padding: 1rem 0rem;
}
.Logo{
    width: 20%;
}
.Logo img{
    width: 100%;
    max-width: 130px;
}
.NavLinks{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NavLinks a{
    text-decoration: none;
    color: var(--secondary-red);
    font-weight: bold;
    margin: 0 .5rem;
}
.NavLinks a.active{
    color: white !important;
}

.RightNavLinks{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.RightNavLinks a img{
    width: 100%;
    max-width: 20px;
    padding-left: 12px;
}

@media (max-width:786px){
    .RightNavLinks{
        display: none;
    }
    .NavLinks{
        width: 80%;
        justify-content: flex-end;
    }
    .NavLinks a{
        font-size: 0.8rem !important;
    }
}